.main-box {
  margin-top: 100px;

  .main-box__title {
    font-size: 48px;
    text-align: center;
  }

  .main-box__actions {
    max-width: 640px;
    margin: 0 auto;
    margin-top: 60px;

    .actions__button {
      width: 300px;
      text-align: center;
      text-decoration: none;
    }
  }
}