.umd-box {

  display: block;
  margin: 60px auto 60px auto;
  width: 100%;
  max-width: 540px;
  height: auto;
  min-height: 840px;
  border: 2px solid #ccc;
  padding: 65px;

}

.umd-content-container {
  min-height: 840px;
}