
.icon-logo:before { content: '\e810'; } /* '' */
.icon-love:before { content: '\e811'; } /* '' */
.icon-music:before { content: '\e812'; } /* '' */
.icon-trig-down:before { content: '\e813'; } /* '' */
.icon-user:before { content: '\e814'; } /* '' */
.icon-arrow-left:before { content: '\e815'; } /* '' */
.icon-arrow-right:before { content: '\e816'; } /* '' */
.icon-close:before { content: '\e817'; } /* '' */
.icon-gear:before { content: '\e818'; } /* '' */
.icon-right-arrow:before { content: '\e81a'; } /* '' */
.icon-back-arrow:before { content: '\e81b'; } /* '' */